.captchaContainer {
  margin-bottom: 10px;
  margin-left: 20px;
}
.login_input {
  padding: 10px 40px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
}
.captcha{
  width: 50%;
}